<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <div class="container card">
            <h1 class="card-header">Address</h1>
            <p class="card-body">United States</p>
        </div>
        
        <div class="container card">
            <h1 class="card-header">Phone number</h1>
            <p class="card-body">0987654321</p>
        </div>
    </body>
</html>